.main {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  height: 90vh;
  width: 90vw;
  margin: 1rem auto;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  overflow: hidden;
  gap: 1rem;
}
.profile {
  display: flex;
  max-height: 100vh;
  max-width: 40vw;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  max-height: 100vh;
  max-width: 40vw;
  width: 40vw;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.infoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  max-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px 10px 0 0;
}
.type {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.infoContainer div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0 0 10px 10px;
}
@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    overflow: auto;
    align-items: center;
  }
  .profile {
    width: 90vw;
    height: 100%;
    max-width: 90vw;
  }
  div h2 {
    font-size: 2rem;
  }
  .info {
    width: 90vw;
    max-width: 90vw;
    min-height: 100vh;
    max-height: max-content;
    height: auto;
  }
  .infoContainer {
    display: block;
  }
  .details {
    width: 90vw;
    max-width: 90vw;
    min-height: 100vh;
    height: auto;
  }
}
